<a href="https://colab.research.google.com/github/siddhi-svg/github.com-siddhigrover-web-scraping-project/blob/main/E_commerce_Product_Scraper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd


df = pd.read_csv("Flipcart_mobile1.csv")
print("Dataset shape:", df.shape)
print("Dataset columns:", df.columns)
print("First 5 rows of dataset:")
print(df.head())


print("\nColumns in dataset:", df.columns)

Dataset shape: (984, 8)
Dataset columns: Index(['Unnamed: 0', 'Name', 'Link', 'Rating', 'Total_Ratings',
       'Total_Reviews', 'Actual_Price', 'Discounted_Price'],
      dtype='object')
First 5 rows of dataset:
   Unnamed: 0                                             Name  \
0           0              APPLE iPhone 13 (Starlight, 128 GB)
1           1               APPLE iPhone 13 (Midnight, 128 GB)
2           2                   APPLE iPhone 13 (Pink, 128 GB)
3           3  OnePlus Nord CE 3 Lite 5G (Pastel Lime, 128 GB)
4           4                   APPLE iPhone 13 (Blue, 128 GB)

                                                Link  Rating  \
0  https://rukminim2.flixcart.com/image/312/312/k...     4.7
1  https://rukminim2.flixcart.com/image/312/312/k...     4.7
2  https://rukminim2.flixcart.com/image/312/312/k...     4.7
3  https://rukminim2.flixcart.com/image/312/312/x...     4.4
4  https://rukminim2.flixcart.com/image/312/312/k...     4.7

      Total_Ratings   Total_Reviews Actual_Price Discounted_Price
0  2,58,098 Ratings  12,692 Reviews      ₹59,900          ₹52,499
1  2,58,098 Ratings  12,692 Reviews      ₹59,900          ₹52,499
2  2,58,098 Ratings  12,692 Reviews      ₹59,900          ₹52,499
3     6,801 Ratings     495 Reviews          NaN          ₹19,999
4  2,58,098 Ratings  12,692 Reviews      ₹59,900          ₹52,499

Columns in dataset: Index(['Unnamed: 0', 'Name', 'Link', 'Rating', 'Total_Ratings',
       'Total_Reviews', 'Actual_Price', 'Discounted_Price'],
      dtype='object')

In [ ]:
df.columns = df.columns.str.strip()


if "Actual_Price" in df.columns:
    df["Actual_Price"] = df["Actual_Price"].replace('[\₹,]', '', regex=True).astype(float)

if "Discounted_Price" in df.columns:
    df["Discounted_Price"] = df["Discounted_Price"].replace('[\₹,]', '', regex=True).astype(float)

if "Rating" in df.columns:
    df["Rating"] = pd.to_numeric(df["Rating"], errors="coerce")

print("\nCleaned dataset:")
print(df.head())

Cleaned dataset:
   Unnamed: 0                                             Name  \
0           0              APPLE iPhone 13 (Starlight, 128 GB)
1           1               APPLE iPhone 13 (Midnight, 128 GB)
2           2                   APPLE iPhone 13 (Pink, 128 GB)
3           3  OnePlus Nord CE 3 Lite 5G (Pastel Lime, 128 GB)
4           4                   APPLE iPhone 13 (Blue, 128 GB)

                                                Link  Rating  \
0  https://rukminim2.flixcart.com/image/312/312/k...     4.7
1  https://rukminim2.flixcart.com/image/312/312/k...     4.7
2  https://rukminim2.flixcart.com/image/312/312/k...     4.7
3  https://rukminim2.flixcart.com/image/312/312/x...     4.4
4  https://rukminim2.flixcart.com/image/312/312/k...     4.7

      Total_Ratings   Total_Reviews  Actual_Price  Discounted_Price
0  2,58,098 Ratings  12,692 Reviews       59900.0           52499.0
1  2,58,098 Ratings  12,692 Reviews       59900.0           52499.0
2  2,58,098 Ratings  12,692 Reviews       59900.0           52499.0
3     6,801 Ratings     495 Reviews           NaN           19999.0
4  2,58,098 Ratings  12,692 Reviews       59900.0           52499.0

In [ ]:
df.to_excel("flipkart_products.xlsx", index=False)
print("✅ Data saved to flipkart_products.xlsx")

✅ Data saved to flipkart_products.xlsx

In [ ]:
avg_price = df["Discounted_Price"].mean()
print("✅ Average Price of Products:", round(avg_price, 2))

✅ Average Price of Products: 24477.88

In [ ]:
top_rated = df.loc[df["Rating"].idxmax()]

print("\n✅ Top Rated Product:")
print(top_rated)

✅ Top Rated Product:
Unnamed: 0                                                        501
Name                             Tecno Pop 7 pro (?Uyuni Blue, 64 GB)
Link                https://rukminim2.flixcart.com/image/312/312/x...
Rating                                                            4.8
Total_Ratings                                               9 Ratings
Total_Reviews                                               2 Reviews
Actual_Price                                                   ₹8,999
Discounted_Price                                               ₹7,490
Name: 501, dtype: object